.anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #000;
    background-color:#fd7ad2;
    margin: auto;
}

 

.anuncio img {
    max-width: 100%;
    height: auto;
}

.anuncio h1 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #000; /* Letras negras */
}

.anuncio a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc0cb; /* Rosa más clarito */
    color: #000; /* Texto negro */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Diseño para escritorio */
@media (min-width: 728px) {
    .anuncio {
        width: 728px;
        height: 90px;
        flex-direction: row;
        padding: 10px;
    }
    .anuncio img {
        width: 90px;
        height: 90px;
    }
    .anuncio h1 {
        flex: 1;
        margin: 0;
    }
    .anuncio a {
        margin-left: auto;
    }
}

/* Diseño para celulares */
@media (max-width: 728px) {
    .anuncio {
        width: 300px;
        height: 600px;
        flex-direction: column;
        padding: 20px;
        flex-direction: column;
    }
    .anuncio img {
        width: 300px;
        height: auto;
        margin-bottom: 10px;
    }
    .anuncio h1 {
        margin: 10px 0;
    }
    .anuncio a {
        margin-top: 10px;
    }
}